<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Liverpool - Excel</title>

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i'" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

  <style>
    .lds-spinner {
      color: official;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-spinner div {
      transform-origin: 40px 40px;
      animation: lds-spinner 1.2s linear infinite;
    }
    .lds-spinner div:after {
      content: " ";
      display: block;
      position: absolute;
      top: 3px;
      left: 37px;
      width: 6px;
      height: 18px;
      border-radius: 20%;
      background: #cef;
    }
    .lds-spinner div:nth-child(1) {
      transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    .lds-spinner div:nth-child(2) {
      transform: rotate(30deg);
      animation-delay: -1s;
    }
    .lds-spinner div:nth-child(3) {
      transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    .lds-spinner div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    .lds-spinner div:nth-child(5) {
      transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    .lds-spinner div:nth-child(6) {
      transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    .lds-spinner div:nth-child(7) {
      transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    .lds-spinner div:nth-child(8) {
      transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    .lds-spinner div:nth-child(9) {
      transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    .lds-spinner div:nth-child(10) {
      transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    .lds-spinner div:nth-child(11) {
      transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    .lds-spinner div:nth-child(12) {
      transform: rotate(330deg);
      animation-delay: 0s;
    }
    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  </style>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- 
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          Topbar Search -->

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tablas</h1>

          <div class="row">
            <div class="col-md-3">
              <label for="documents">Selecciona un documento:</label>
              <select id="documents" class="custom-select custom-select-sm form-control form-control-sm">
                {% if documents %}
                  <option value="Seleccionar" selected>Seleccionar</option>
                  {% for document in documents %}
                    {% if document.name == document_selected %}
                      <option value="{{ document.name }}" selected>{{ document.name }}</option>
                    {% else %}
                      <option value="{{ document.name }}" >{{ document.name }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col-md-3">
              <label for="pages">Selecciona una página:</label>
              <select id="pages" class="custom-select custom-select-sm form-control form-control-sm">
                {% if sheets %}
                  {% for sheet in sheets %}
                    {% if sheet == sheet_selected %}
                      <option value="{{ sheet }}" selected>{{ sheet }}</option>
                    {% else %}
                      <option value="{{ sheet }}">{{ sheet }}</option>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="col-md-3">
              <label for="upload_file">Cargar nuevo archivo:</label>
              <button id="upload_file" class="btn btn-success custom-button-sm form-control form-control-sm" data-toggle="modal" data-target="#excelModal">Subir excel</button>
            </div>
            <div class="col-md-3">
              <label for="drop_db">Eliminar todos:</label>
              <a id="drop_db" class="btn btn-danger custom-button-sm form-control form-control-sm" href="{{ url_for('drop_database') }}">Eliminar</a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <label for="limit_querys">Limitar filas:</label>
              <input type="number" name="limit_querys" class="custom-select custom-select-sm form-control form-control-sm" id="limit_querys" value="{{ limit }}" />
            </div>
            <div class="col-md-3">
              <label for="download_file">Descargar archivos:</label>
              <button id="download_file" class="btn btn-info custom-button-sm form-control form-control-sm" data-toggle="modal" data-target="#downloadModal">Descargar archivos</button>
            </div>
            <div class="col-md-3">
              <label for="btnExportar">Exportar consulta:</label>
              <input type="button" name="btnExportar" class="btn btn-success custom-button-sm form-control form-control-sm" id="btnExportar" value="Exportar consulta" />
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-6">
                  <label for="reload">Recargar página:</label>
                  <button id="reload" class="btn btn-outline-warning custom-button-sm form-control form-control-sm">Recargar página</button>
                </div>
                <div class="col-md-6">
                  <label for="hard_reload">Reiniciar filtros:</label>
                  <button id="hard_reload" onclick='window.location="/";' class="btn btn-danger custom-button-sm form-control form-control-sm">Reiniciar filtros</button>
                </div>
              </div>
            </div>
          </div>

          <br>

          <form action="" method="POST" id="search_form">
            <div class="row" id="rows">
              {% if cols_values %}
                {% for col in cols_values %}
                  <div class="col-md-2"> 
                    <label for="{{col[0]}}">{{col[0]}}:</label>
                    <select id="{{col[0]}}" class="custom-select custom-select-sm form-control form-control-sm" form="search_form">
                      <option value="Seleccionar" selected>Seleccionar</option>
                      {% for value in col[1] %}
                        <option value="{{ value }}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </form> 

          <br>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive" id="table">
                  {{ table|safe }}
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Liverpool 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Excel Modal-->
  <div class="modal fade" id="excelModal" tabindex="-1" role="dialog" aria-labelledby="excelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="excelModalLabel">¿Seguro que deseas reemplazar el archivo anterior?</h5>
        </div>
        <div class="modal-body">
          <form action="{{ url_for( 'load_database' ) }}" method="POST" id="excel_upload" enctype="multipart/form-data">
            <input type="file" accept=".xls,.xlsx" name="file" id="file" class="custom-button custom-button-sm form-control form-control-sm">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" id="excel_upload_button_cancel" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary" type="submit" id="excel_upload_button">Cargar Archivo</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Download Modal-->
  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="downloadModalLabel">Descargar excel</h5>
        </div>
        <div class="modal-body">
          {% if documents2 %}
            {% for document2 in documents2 %}
              <a href="https://liverpoolexcel.s3-us-west-1.amazonaws.com//tmp/{{ document2.name }}">{{ document2.name }}</a>
              <br>
            {% endfor %}
          {% endif %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" id="excel_upload_button_cancel" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

  <script>
    $( document ).ready(function() {

      function search_ready(){
        var elements = document.getElementById("search_form").elements;
        for (let i = 0; i < elements.length; i++) {
          $( document ).on('change', `[id="${String(elements[i].id)}"]`, search);
        };
      };

      search_ready();

      function search(){
        var elements = document.getElementById("search_form").elements;
        search = {
        }
        for (let i = 0; i < elements.length; i++) {
          const e = elements[i];
          if (e.value!="Seleccionar") {
            search[e.id] = String(e.value);
          }
        }

        var documentSelected = $("option:selected", $("#documents")).val();
        var pageSelected = $("option:selected", $("#pages")).val();
        $("#table").html(
          '<center>'+
          '<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>'+
          '</center>'
        )

        $.ajax({
          url: "/tables_filter/"+documentSelected+"/"+pageSelected,
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(search),
        }).done(function(data) {
          $("#table").html(data['table']);
          $("#rows").html(data['cols']);
        });
      };

      $("#documents").on('change', function () {
        var documentSelected = $("option:selected", $("#documents")).val();
        if (documentSelected!="Seleccionar") {
          $.ajax({
            url: "/get_pages/"+documentSelected,
            type: "GET",
            contentType: "application/json",
          }).done(function(data) {
            console.log(data);
            if (data.length<=0) {
              return;
            }
            var pages = "<option value='Seleccionar' selected>Seleccionar</option>"; 
            for (var k in data) {
              console.log(data[k]);
              pages += `<option value="${data[k]}">${data[k]}</option>`;
            }
            $("#pages").html(
              pages
            );
          });
        };
      }); 

      $("#pages").on('change', function () { 
        var documentSelected = $("option:selected", $("#documents")).val();
        var pageSelected = $("option:selected", $("#pages")).val();
        var limit = $("#limit_querys").val();
        window.location = "/"+documentSelected+"/"+pageSelected+"/"+limit;
      });

      $("#reload").on('click', function(){
        var limit = $("#limit_querys").val();
        var url = document.URL;
        url = url.substring(0,url.lastIndexOf("/"));
        window.location = url+"/"+limit;
      });


      $("#excel_upload_button").on('click', function(){
        $(this).prop('disabled', true); 
        $(this).html("Cargando...");
        $("#excel_upload_button").prop('disabled', true); 
        $("#excel_upload").submit();
      });

      function ExportToExcel(htmlExport) {
          var ua = window.navigator.userAgent;
          var msie = ua.indexOf("MSIE ");

          var documentSelected = $("option:selected", $("#documents")).val();
          var pageSelected = $("option:selected", $("#pages")).val();

          var url = "filter"+documentSelected;
          
          //other browser not tested on IE 11
          // If Internet Explorer
          if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))
          {
              jQuery('body').append(" <iframe id=\"iframeExport\" style=\"display:none\"></iframe>");
              iframeExport.document.open("txt/html", "replace");
              iframeExport.document.write(htmlExport);
              iframeExport.document.close();
              iframeExport.focus();
              sa = iframeExport.document.execCommand("SaveAs", true, url);
          }
          else {      
              var link = document.createElement('a');
          
              document.body.appendChild(link); // Firefox requires the link to be in the body
              link.download = url;
              link.href = 'data:application/vnd.ms-excel,' + escape(htmlExport);
              link.click();
              document.body.removeChild(link);
          }
      }

      $("#btnExportar").on('click', function() {
        ExportToExcel($('#dataTable').prop("outerHTML"));
      });

    });
  </script>


</body>

</html>
